.footer{
    background-color: black;
    padding: 60px;
    padding-bottom: 20px;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.footer-links{
    width: 100%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.footer-links h4 {
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid  #00C3FF;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color:#BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.footer-links ul{
    padding-left: 0;
}

.footer-links ul li a:hover{
    color: #FFFFFF;
    padding-left: 6px;
}

.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:#FFFFFF;
    transition: all .5s ease;
}

.social-link a:hover{
    background-color: #00C3FF;
}

.copy{
    color: white;
    margin:0;
    text-align: center;
    margin-top: 100px;
}

@media(min-width: 991px){

    .footer-row{
     text-align: start;
     justify-content: space-between;
    }

    .footer-links{
        width: 25%;
        margin-bottom: 30px;
        padding: 0;
    }

    .copy{
        text-align: end;
        margin-top: 20px;
    }
}